.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ab0885;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a.active {
    background-color: #05e5f5;
    color: white;
}
.navbar li a:hover:not(.active) {
    background-color: #111;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    background-color: #fff;
    max-width: 480px;
    padding: 4rem;
    margin: 1rem;
    position: relative;
}
.container::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffa600;
    position: absolute;
    top: 8px;
    right: 8%;
    z-index: -1;
}
.container h1 {
    margin-bottom: 1rem;
}
.container p {
    margin-bottom: 2rem;
}
form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    resize: none;
}
form .form-item {
    margin-bottom: 1rem;
    display: flex;
    gap: .5rem;
}
form .form-item input[type="checkbox"] {
    accent-color: #ffa600;
    height: 24px;
    width: 24px;
}
form .form-item a {
    color: #000;
    font-weight: 600;
}
form .submit-btn {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 1.25rem;
    transition: all 200ms ease;
}
form .submit-btn:hover {
    background-color: #ffa600;
    color: #000;
    font-weight: bold;
    border: 2px solid #000;
}
@media (max-width: 400px) {
    .container {
        padding: 2rem;
    }
}